* {
    margin: 0px;
    padding: 0px;
}
*{font-family: 'Roboto', sans-serif;}
section {
    padding: 36px 0px;
}

.topmain {
    background: #e5e4e4;
}

.container {
    width: 1131px;
    margin: auto;
    padding-left: 15;
    padding-right: 15px;
    overflow: hidden;
}

.wraper {
    overflow: hidden;
}

.phone {
    width: 238px;
    float: left;
    padding: 15px;
    font-size: 26px;
}

.email {
    font-size: 26px;
    padding: 15px;
    width: 247px;
    float: left;
}

.social {
    padding: 10px;
    font-size: 22px;
    width: 323px;
    float: left;
    margin-left: 228px;
}

.social a {
    text-decoration: none;
    padding-left: 17px;
}

.social a i {
    color: black;
    background: white;
    padding: 9px;
    border-radius: 100px;
    height: 20px;
    width: 20px;
    margin-left: 5px;
    transition: 0.5s;
}

.imgdiv {
    width: 182px;
    float: left;
    padding: 0px 11px 0px 71px;
}

.second {
    overflow: hidden;
    transition: 0.3s;
    border-bottom: 5px solid #8c8c8c;
}

.listmenu {
    width: auto;
    float: left;
    margin-left: 259px;
    padding: 7px;
}

.listmenu ul {
    list-style: none;
    float: left;
}

.listmenu ul li {
    float: left;
    font-size: 24px;
    margin: 11px;
    color: #ff6347;
}

.listmenu ul li:hover {
    color: black;
}

.homeslider {
    background: linear-gradient(#000000d9,#464545c2) ,url(slide_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 0px;
}

.slidercontant {
    width: 493px;
    color: #00fff1;
    margin-top: 155px;
    margin-bottom: 66px;
    margin-left: 57px;
}

.slidercontant p {
    margin-top: 20px;
    font-size: 41px;
    font-weight: 700;
}

.slidercontant h1 {
    margin-top: 54px;
    margin-bottom: 54px;
    font-size: 55px;
    font-family: serif;
}

.slidercontant span {
    font-size: 26px;
    font-weight: 700;
    padding-bottom: 57px;
}

.sliderbutton {
    display: block;
    margin-top: 58px;
    padding: 14px;
    font-size: 20px;
    color: white;
    background: #75c2bd;
    border-radius: 13px;
    margin-left: 26px;
    border: none;
    font-weight: 800;
    transition: 0.3s;
    outline: none;
    cursor: pointer;
}

.sliderbutton:hover {
    background: white;
    color: #75c2bd;
    transition: 0.3s
}

.single {
    width: 349px;
    text-align: center;
    float: left;
    margin: 0px 22px 23px 10px;
    transition: 0.3s;
    border: 1px solid tomato;
    height: 360px;
}

.singleicon {
    text-align: center;
    width: 102px;
    height: 83px;
    margin: auto;
    font-size: 49px;
    margin-bottom: 32px;
    transition: 0.3s
}

.singleicon i {
    text-align: center;
    font-size: 46px;
    width: 53px;
    height: 32px;
    padding: 24px 24px;
    margin-bottom: 27px;
    transition: 0.3s
}

.singlepara h1 {
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 800;
    word-spacing: 10px;
}

.singlepara span {
    display: block;
    color: #908d8d;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
}

.singlebutton {
    padding: 11px;
    width: 163px;
    font-size: 20px;
    border-radius: 10px;
    background: tomato;
    color: white;
    font-weight: 900;
    border: none;
    transition: 0.3s;
    outline: none;
    margin-bottom: 35px;
    cursor: pointer;
}

.single:hover .singlepara button {
    transition: 0.3s;
    background: #ffffff;
    color: tomato;
    border: 8px solid tomato;
}

.single:last-child {
    margin-right: 0px;
}

.company {
    background: #f3f2f2;
    overflow: hidden;
}

.companyeraper {
    overflow: hidden;
}

.companyleft {
    width: 567px;
    float: left;
    border: 1px solid red;
}

.companyleft p {
    display: block;
    font-size: 23px;
    margin-bottom: 34px;
    color: #adadad;
}

.companyleft h2 {
    font-size: 28px;
    margin-bottom: 42px;
    line-height: 34px;
}

.companyleft h4 {
    font-size: 16px;
    margin-bottom: 34px;
    color: #6b6464;
}

.companyleft span {
    color: #54c4bc;
    font-size: 17px;
}

h1.shadw {
    text-shadow: 1px 9px 6px #000000;
    font-size: 71px;
    color: tomato;
    margin: auto;
    margin-left: 294px;
}

.single:hover {
    box-shadow: 0px 15px 11px #75c2bd;
}

section.SERVICES {
    background: #c2efc0;
}

.single:hover .singleicon i {
    background: tomato;
    color: white;
    transition: 0.3s;
}

.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 60px;
}

.title:after {
    background: red;
    width: 89px;
    content: "";
    position: absolute;
    border-bottom: 3px solid tomato;
    margin: auto;
    margin-left: -46px;
    margin-top: -61px;
}

.hfour {
    margin-top: 11px !important;
    width: 728px;
    margin: auto;
    font-family: sans-serif;
    line-height: 24px;
    font-size: 16px;
    color: #908d8d;
}

.threewraper {
    width: 1303px;
    margin-top: 111px;
}

.threesinngle {
    float: left;
    margin: 37px 43px 3px 20px;
    overflow: hidden;
    width: 346px;
}

.threesinngle:last-child {
    margin-right: 0px;
    width: 372px;
}

.threesinngle:nth-child(2) {
    width: 252px;
    margin-top: -47px;
}

.singlethree {
    overflow: hidden;
    margin-bottom: 37px;
    transition: 0.3s;
}

.threeicon {
    width: 57px;
    border: 1px solid #040404;
    text-align: center;
    height: 54px;
    float: right;
    transition: 0.3s;
}

.threeicon i {
    margin-top: 12px;
    font-size: 31px;
}

.threecontant {
    float: right;
    width: 285px;
    height: 113px;
}

.threecontant h3 {
    font-size: 23px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    word-spacing: 11px;
    font-weight: 700;
    float: right;
    margin-right: 20px;
}

.threecontant span {
    float: left;
    font-style: oblique;
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
}

.singlethree:hover .threeicon {
    background: black;
    color: white;
}

.singlethreeu {
    overflow: hidden;
    margin-bottom: 37px;
    transition: 0.3s;
}

.threeiconu {
    width: 57px;
    border: 1px solid #040404;
    text-align: center;
    height: 54px;
    float: left;
    transition: 0.3s;
}

.threecontantu {
    float: right;
    width: 304px;
    height: 113px;
    margin-left: 7px;
}

.threecontantu h3 {
    font-size: 23px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    word-spacing: 11px;
    font-weight: 700;
}

.threecontantu span {
    float: right;
    font-style: oblique;
    font-size: 16px;
    font-weight: 700;
    margin-top: 6px;
}

.threeiconu i {
    margin-top: 12px;
    font-size: 31px;
}

.singlethreeu:hover .threeiconu {
    background: black;
    color: white;
}

.titlei {
    text-align: center;
    font-size: 26px;
}

.titlei:after {
    background: red;
    width: 89px;
    content: "";
    position: absolute;
    border-bottom: 3px solid #75c2bd;
    margin: auto;
    margin-left: -48px;
    margin-top: -34px;
}

.titlei h1 {
    font-size: 30px;
}

.title h1 {
    font-size: 30px;
}

.titlei p {
    font-size: 14px;
}

section.PROJECT {
    background: #eeeeee;
}

.ulli {
    list-style: none;
    float: left;
    margin-top: 64px;
}

.ulli li {
    list-style: none;
    float: left;
    padding: 12px;
    font-size: 23px;
    text-align: center;
}

.ulli li:hover {
    color: red;
}

.singleimg {
    width: 357px;
    float: left;
    margin: 6px 10px 17px 10px;
}

.singleimg img {
    width: 100%;
}

.PROJECTimage {
    margin-top: 139px;
    overflow: hidden;
}

.singleimg img:last-child {
    margin-right: 0px;
}

.design {
    background: linear-gradient(#1dbdffd9,#000000e0) ,url(promo-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px 0px;
}

.designtitle {
    padding-top: 140px;
    padding-bottom: 145px;
    text-align: center;
}

.designtitle h2 {
    font-size: 32px;
    color: white;
    margin-bottom: 21px;
}

button.deginbutton {
    letter-spacing: 3px;
    font-size: 16px;
    padding: 10px;
    background: #ff000000;
    color: white;
    border: 2px solid wheat;
    transition: 0.3s;
    outline: none;
}

button.deginbutton:hover {
    background: white;
    color: black;
}

.titlej {
    text-align: center;
    font-size: 26px;
}

.titlej:after {
    background: red;
    width: 89px;
    content: "";
    position: absolute;
    border-bottom: 3px solid #75c2bd;
    margin: auto;
    margin-left: -48px;
    margin-top: -40px;
}

.titlej h1 {
    font-size: 30px;
}

.titlej h1 {
    font-size: 30px;
}

.titlej p {
    font-size: 17px;
    line-height: 17px;
}

.imgtable {
    margin-top: 58px;
    overflow: hidden;
}

.singleimage {
    width: 264px;
    float: left;
    margin: 10px 10px 10px 10px;
}

.singleimage img {
    width: 100%;
}

.singleimage:last-child {
    margin-right: 0px;
}

.imgdesc {
    background: #02acf9;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.imgdesc h4 {
    color: white;
    padding-top: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.imgdesc span {
    font-size: 27px;
}

section.Offer {
    background: #e1e1e1;
}

.leftimage {
    float: left;
    width: 500px;
}

.imageleft {
    width: 500px;
}

.imageleft img {
    width: 100%;
}

.rightcontant {
    float: right;
    width: 551px;
}

.rightcontant .-hfour {
    color: #1c1c1c;
    font-size: 10px;
    margin-top: 95px;
    margin-bottom: 50px;
    font-weight: 600;
}

.spantag {
    line-height: 21px;
    color: grey;
    font-size: 16px;
}

p.lastpara {
    margin-top: 35px;
}

.spantag button {
    padding: 20px;
}

.rightcontant button {
    padding: 10px 27px;
    background: #54e5dc;
    font-size: 19px;
    color: white;
    letter-spacing: 2px;
    margin-top: 39px;
    border: none;
    outline: none;
    transition: 1.3s;
    border-radius: 18px;
}

.rightcontant button:hover {
    background: black;
}

.listmenu ul li::after {
    content: "";
    display: block;
    background: #000000;
    height: 5px;
    width: 0%;
    transition: 1s;
}

ul li:hover::after {
    width: 100%;
}

.hii {
    width: 500px;
    border: 1px solid red;
    margin: auto;
    color: red;
    margin-top: 200px;
    font-size: 59px;
}


.titlej {
    text-align: center;
    font-size: 26px;
}

.titley h1:after {
    background: red;
    width: 89px;
    content: "";
    display: block;
    border-bottom: 3px solid #75c2bd;
    margin: auto;
}

.titley h1 {
    font-size: 30px;
}

.titley h1 {
    font-size: 39px;
}

.titley p {
    text-align: center;
    font-size: 20px;
    color: gray;
    line-height: 24px;
}

.titley h1 {
    text-align: center;
    color: #6b6161;
}

.clientimg img {
    border: 1px solid red;
    width: 388px;
    text-align: center;
    margin-left: 364px;
    margin-top: 65px;
    border-radius: 100%;
    height: 333px;
    box-shadow: 0px 1px 30px;
}.imgdec h1 {
    font-size: 58px;
    text-align: center;
    margin-top: 66px;
    color: gray;
}

.imgdec h3 {
    font-size: 31px;
    text-align: center;
    margin-top: 1px;
    color: #a99c9c;
}

.lastdec {
    font-size: 25px;
    text-align: center;
    margin: auto;
    padding-top: 90px;
    color: grey;
}

.pricesingle {
    width: 360px;
    float: left;
    margin: 1px 9px;
    background: #f7f7f7;
    }

section.Pricing {
    background: #efdeff;
}

.heading {
    background: white;
    padding: 30px;
    text-align: center;
}

.heading p {
    font-size: 13px;
    color: gray;
    margin-top: -1px;
}

h2 {}

.heading h2 {
    font-size: 30px;
}

.pricerate {
    padding: 30px;
    background: #54e5dc;
    text-align: center;
    color: white;
}

.pricerate h1 span {
    font-size: 19px;
    margin-right: 4px;
}

.priceul ul li {
    list-style: none;
    padding: 21px 10px 10px 10px;
    font-size: 20px;
    text-align: center;
}

.priceul ul li:nth-child(odd) {
    background: #fffdfd;
}

.priceul {
    text-align: center;
}

.pricebutton {
    background: white;
    padding: 38px;
}

.pricebutton button {
    outline: none;
    font-size: 20px;
    padding: 12px 35px;
    margin: auto;
    text-align: center;
    margin-left: 32px;
    background: #54e5dc;
    border: 1px solid #54e5dc;
    border-radius: 16px;
    color: white;
    transition: 0.3s;
}

.pricebutton button:hover {
    color: #54e5dc;
    background: rgb(2, 2, 2);
    border: 1px solid #54e5dc;
}

.spam span {
    background: #ff000000;
    width: 7px;
    display: block;
    height: 7px;
    border-radius: 100%;
    color: rebeccapurple;
    border: 5px solid #54e5dc;
    float: left;
    margin: 3px;
}
.spam {
    margin: auto;
    width: 117px;
    margin-top: 20px;
}

.spam span:last-child {
    color: #54e5dc;
    background: #54e5dc;
}

.pricesingle:last-child {
    margin-right: 0px;
}

.social a i:hover {
    color: white;
    background: black;
}
.h1shadw {
    background: repeating-linear-gradient(45deg, #12d3ff, transparent 50px);
}.left {
    width: 500px;
    float: left;
    padding: 33px;
}

.left p {
    font-size: 18px;
    font-weight: 600;
    color: gray;
    letter-spacing: 3px;
    margin-bottom: 28px;
}

.left>h2 {
    font-size: 55px;
}

.left>h2>span {
    color: tomato;
}

.rightimage {
    width: 511px;
    float: left;
}

.rightimage img {
    width: 100%;
}

.myimage {
    width: 397px;
    float: left;
}

.myimage img {width: 100%;margin-top: 34px;height: 375px;border-top: 13px solid tomato;border-left: 13px solid tomato;}

.aboutmyself {
    width: 562px;
    float: left;
    margin-left: 77px;
    padding: 46px;
}

.aboutmyself>h3 {
    font-size: 26px;
    letter-spacing: 2px;
    color: #000000;
    margin-bottom: 13px;
}

.aboutmyself>p {
    color: gray;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 24px;
}

.address >ul >li {
    list-style: none;
    padding: 10px 0px;
    font-size: 21px;
    font-weight: 400;
}

.button .profile {
    padding: 10px 10px;
    font-size: 19px;
    background: tomato;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 20px;
    border: navajowhite;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 29px;
}

button.haireme {
    padding: 10px 10px;
    font-size: 19px;
    background: tomato;
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: 20px;
    border: navajowhite;
    border-radius: 7px;
}

section.leftright {
    border-bottom: 5px solid #8c8c8c;
}


button.profile:hover {
    cursor: pointer;
}

button.haireme:hover {
    cursor: pointer;
}

section.aboutme {
    background: #cef1d7;
}